/* サンクスページのcss */

.background {
    display: flex;
    justify-content: center;
    font-size: 280px;
    font-weight: 400;
    color: #8B79690D;
    opacity: 0.95;
    /* 透明度95% */
    z-index: -5;
    font-family: Inika;
    width: 1381px;
    height: 365px;
}

.thanks__heading{
    display: flex;
    justify-content: center;
    font-size: 30px;
    color:#8B7969;
    font-family: Inika;
    font-weight: 700;
    line-height: 39.09px;
    z-index: auto;
}

.form__botton{
    margin-top: 30px;
    text-align: center;
    z-index: auto;
}

.form__boton-submit{
    padding: 10px 40px 10px 40px;
    border: none;
    background: #82756A;
    color: #fff;
    font-size: 20px;
    width: 140px;
    height: 46px;
    z-index: auto;
}
